[Unit]
Description=Laravel Queue Worker Systemd Service
After=network.target

[Service]
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
# Set to correct php version
#ExecStart=__INSTALL_DIR__/artisan queue:work --sleep=10 --tries=5
ExecStart=/usr/bin/php__PHPVERSION__ __INSTALL_DIR__/artisan queue:work --sleep=10 --tries=5 --max-time=3600
#StandardOutput=append:/var/log/__APP__/__APP__.log
# StandardOutput=append:/var/log/__APP__.log
StandardError=inherit
TimeoutStopSec=5
Restart=always

[Install]
WantedBy=multi-user.target