[Unit]
Description=Laravel Websockets Service
After=network.target

[Service]
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/

# Start the Larevel Websockets server. 
ExecStart=/usr/bin/php__PHPVERSION__ __INSTALL_DIR__/artisan websockets:serve

StandardError=inherit
TimeoutStopSec=5
Restart=always

[Install]
WantedBy=multi-user.target